@import "~/.config/rofi/themes/spotlight-dark.rasi"

* {
    font: "Atkinson Hyperlegible 12";
}

configuration {
    show-icons: false;
}

mainbox {
    children: [inputbar,message,listview];
}

element {
    padding: 1px 15px;
}

element-icon {
    size: 45px;
}
